<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="aleno-home">
    <template>
        <style>
        :host{
            display: block;
        }

        header {
            @apply --layout-vertical;
            @apply --layout-center-center;
            height: calc(100vh - 64px);
            padding: 0 16px;
            background-image: url('https://www.elsoldemexico.com.mx/finanzas/oslgyl-bbva.jpg/ALTERNATES/LANDSCAPE_960/BBVA.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
            text-align: center;
        }
        </style>

    <header>
        <h2>Aleno -- App</h2>
    </header>

    </template>

    <script>
        class AlenoHome extends Polymer.Element {
            static get is() {
                return 'aleno-home'
            }
        }
        window.customElements.define(AlenoHome.is, AlenoHome);
    </script>

</dom-module>