<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="deletemovements-component">
    <template>
        <style>
            :host{
                display: block;
            }
        </style>

    <iron-ajax
        id="movementsAPI"
        url="http://localhost:3000/api/movements"
        handle-as="json"
        loading="{{loading}}"
        method="DELETE"
        content-type="application/json"
        on-response="sendResponse"
        on-error="errorResponse"
    ></iron-ajax>

    <paper-dialog id="confirm">
        <paper-spinner 
            id="spinner"
            alt="Actualizando Movimiento..." 
            active="[[loading]]"
        ></paper-spinner>
        <p>Realizando petición</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>


    <paper-dialog id="idModal">
        <p>No hay un id, ingresado</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

      
        <paper-card style="width: 50%; left:25%;">
            <div class="card-content">
                

                <paper-input
                    id="identificador"
                    label="Id"
                    value="[[id]]"
                    style="width: 50%"
                ></paper-input>

                <paper-input
                    id="email"
                    label="email"
                    disabled
                    value="[[email]]"
                ></paper-input>

                <paper-button
                id="movements"
                raised
                style="left:40%; top:2%;"
                on-click="_save"
            >
                Confirmar
            </paper-button>

            </div>      
        </paper-card>
            
    </template>
    <script>
        class DeleteMovementsComponent extends Polymer.Element {
            static get is() {
                return 'deletemovements-component'
            }

            static get properties() {
                return {
                    id: String,
                    email: String,
                    loading: Boolean
                }
            }

            _save() {
                this.id = this.$.identificador.value;

                var obj = {
                    id: this.id,
                    email: this.email
                };

                if (obj.id == '' || obj.id == undefined) {
                    this.$.idModal.open();
                }

                if (obj.id != '' && obj.id != undefined) {
                    console.log(obj);
                    this.$.confirm.open();
                    this.$.movementsAPI.body = obj;
                    this.$.movementsAPI.generateRequest();
                }




            }

            sendResponse(e, request) {
                if (request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                } else {
                    console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
                }
            }

            errorResponse(e, error) {
                console.log("Error: " + error.request.status);
            }

        }
        window.customElements.define(DeleteMovementsComponent.is, DeleteMovementsComponent);
    </script>
</dom-module>