<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="my-icons.html">

<link rel="lazy-import" href="register-login.html">
<link rel="lazy-import" href="aleno-home.html">
<link rel="lazy-import" href="not-found.html">
<link rel="lazy-import" href="pricing-tables.html">
<link rel="lazy-import" href="user-table.html">
<link rel="lazy-import" href="map-component.html">
<link rel="lazy-import" href="register-component.html">
<link rel="lazy-import" href="movements-component.html">
<link rel="lazy-import" href="movements-table.html">
<link rel="lazy-import" href="updateMovements-component.html">
<link rel="lazy-import" href="deletemovements-component.html">



<link rel="import" href="log-out.html">

<dom-module id="my-app">
    <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;
        display: block;
      }
      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }
      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }
      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }
      .drawer-list {
        margin: 0 20px;
      }
      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      app-header .greeting,
      app-header a {
        color: #fff;
        font-size: 13px;
      }
      app-header .greeting {
        border-right: 1px solid rgba(255,255,255,.5);
        display: inline-block;
        padding-right: 6px;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>
    <brum-global-variable key="userData" value="{{storedUser}}"></brum-global-variable>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
      <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]">
        <app-toolbar>Menu</app-toolbar>
        <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
          <div name="aleno-home">
            <a href="[[rootPath]]aleno-home">Aleno Home</a>
          </div>
          <div name="movements-component" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]movements-component">Nuevo Movimiento</a>
        </div>
        <div name="movements-table" hidden$="[[!storedUser.loggedin]]">
          <a href="[[rootPath]]movements-table">Listar Movimientos</a>
        </div>
        <div name="updateMovements-component" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]updateMovements-component">Actualizar movimiento</a>
        </div>
        <div name="deletemovements-component" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]deletemovements-component">Eliminar movimiento</a>
        </div>
          <div name="map-component" hidden$="[[!storedUser.loggedin]]">
            <a href="[[rootPath]]map-component"> Mapa</a>
          </div>
        
        </iron-selector>
      </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>
            <paper-icon-button icon="my-icons:menu" drawer-toggle></paper-icon-button>
            <div main-title>Aleno</div>
            <a name="register-login" href="[[rootPath]]register-login" hidden$="[[storedUser.loggedin]]">Log in</a>
            <div hidden$="[[!storedUser.loggedin]]">
              <span class="greeting">Bienvenido [[storedUser.name]]!</span>
              <log-out stored-user="{{storedUser}}" link></log-out>
            </div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="not-found"
            role="main">
          <aleno-home name="aleno-home"></aleno-home>
          <register-login name="register-login"></register-login>
          <not-found name="not-found"></not-found>
          <pricing-tables name="pricing-tables"></pricing-tables>
          <user-table name="user-table"></user-table>
          <map-component name="map-component"></map-component>
          <movements-component email="[[storedUser.name]]" name="movements-component"></movements-component>
          <movements-table email="[[storedUser.name]]" name="movements-table"></movements-table>
          <updateMovements-component email="[[storedUser.name]]" name="updateMovements-component"></updateMovements-component>
          <deletemovements-component email="[[storedUser.name]]" name="deletemovements-component"></deletemovements-component>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

    <script>
        class MyApp extends Polymer.Element {
            static get is() {
                return 'my-app';
            }
            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_pageChanged',
                    },
                    routeData: Object,
                    subroute: String,
                    rootPath: String,
                    storedUser: Object
                };
            }
            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                ];
            }
            _routePageChanged(page) {
                // If no page was found in the route data, page will be an empty string.
                // Default to 'view1' in that case.
                this.page = page || 'aleno-home';
                // Close a non-persistent drawer when the page & route are changed.
                if (!this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }
            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
                var resolvedPageUrl = this.resolveUrl(page + '.html');
                Polymer.importHref(
                    resolvedPageUrl,
                    null,
                    this._showPage404.bind(this),
                    true);
            }
            _showPage404() {
                this.page = 'not-found';
            }
        }
        window.customElements.define(MyApp.is, MyApp);
    </script>
</dom-module>