<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="not-found">
    <template>
    <style>
      :host {
        display: block;
        padding: 10px 20px;
      }
    </style>

    Oops you hit a 404. <a href="[[rootPath]]">Head back to home.</a>
  </template>

    <script>
        class NotFound extends Polymer.Element {
            static get is() {
                return 'not-found';
            }
            static get properties() {
                return {
                    rootPath: String,
                };
            }
        }
        window.customElements.define(NotFound.is, NotFound);
    </script>
</dom-module>