<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-slider/paper-slider.html">
<link rel="import" href="../bower_components/paper-card/paper-card.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="updatemovements-component">
    <template>
        <style>
            :host{
                display: block;
            }
        </style>

    <iron-ajax
        id="movementsAPI"
        url="http://localhost:3000/api/movements"
        handle-as="json"
        loading="{{loading}}"
        method="PUT"
        content-type="application/json"
        on-response="sendResponse"
        on-error="errorResponse"
    ></iron-ajax>

    <paper-dialog id="confirm">
        <paper-spinner 
            id="spinner"
            alt="Registrando Movimiento..." 
            active="[[loading]]"
        ></paper-spinner>
        <p>Realizando petición</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="cantidadModal">
        <p>La cantidad ingresada no puede ser cero o Nula</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="companiaModal">
        <p>No hay compañia seleccionada</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="cellphoneModal">
        <p>No hay un número celular ingresado</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>
      
    <paper-dialog id="cellphoneModal2">
        <p>El número no tiene 10 digitos</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

    <paper-dialog id="idModal">
        <p>No hay un id, ingresado</p>
        <div class="buttons">
            <paper-button dialog-confirm>Entendido!</paper-button>
        </div>
    </paper-dialog>

      
        <paper-card style="width: 50%; left:25%;">
            <div class="card-content">
                

                <paper-input
                    id="identificador"
                    label="Id"
                    value="[[id]]"
                    style="width: 50%"
                ></paper-input>

                <paper-input
                    id="email"
                    label="email"
                    disabled
                    value="[[email]]"
                ></paper-input>

                <paper-input
                    label="Fecha"
                    disabled 
                    value="[[date]]"
                ></paper-input>


                <paper-dropdown-menu id="compania" label="Compañia Celular">
                    <paper-listbox slot="dropdown-content" style="width:100%">
                        <paper-item>Telcel</paper-item>
                        <paper-item>Moviestar</paper-item>
                        <paper-item>Unefon</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>

                <paper-input
                    id="cellPhone"
                    label="Número Celular"
                    value="[[cellPhone]]"
                    style="width: 50%"
                    maxlength=10
                ></paper-input>

                <paper-input
                id="quantity"
                label="Cantidad"
                value="[[quantity]]"
                style="width: 50%"
            ></paper-input>

                <paper-button
                    id="movements"
                    raised
                    style="left:40%; top:2%;"
                    on-click="_save"
                >
                    Confirmar
                </paper-button>


            </div>      
        </paper-card>
            
    </template>
    <script>
        class UpdateMovementsComponent extends Polymer.Element {
            static get is() {
                return 'updatemovements-component'
            }

            static get properties() {
                return {
                    id: String,
                    email: String,
                    date: {
                        type: Date,
                        value: new Date()
                    },
                    status: {
                        type: String,
                        value: 'Actualizacion'
                    },
                    cellPhone: String,
                    compania: String,
                    quantity: Number,
                    loading: Boolean
                }
            }

            _save() {
                this.id = this.$.identificador.value;

                var obj = {
                    id: this.id,
                    email: this.email,
                    cellPhone: this.$.cellPhone.value,
                    compania: this.$.compania.value,
                    type: this.status,
                    quantity: this.$.quantity.value
                };

                if (obj.compania == undefined) {
                    this.$.companiaModal.open();
                }
                if (obj.quantity == 0 || obj.quantity == undefined || obj.quantity == '') {
                    this.$.cantidadModal.open();
                }

                if (obj.cellPhone == undefined || obj.cellPhone == '') {
                    this.$.cellphoneModal.open();
                } else {
                    if (obj.cellPhone.length > 1 && obj.cellPhone.length < 10)
                        this.$.cellphoneModal2.open();
                }

                if (obj.compania == undefined) {
                    this.$.companiaModal.open();
                }

                if (obj.id == '' || obj.id == undefined) {
                    this.$.idModal.open();
                }

                if (obj.compania != undefined && obj.quantity != 0 && obj.quantity != undefined && obj.cellPhone != undefined &&
                    obj.cellPhone != '' && obj.cellPhone.length == 10 && obj.id != '' && obj.id != undefined) {
                    console.log(obj);
                    this.$.confirm.open();
                    this.$.movementsAPI.body = obj;
                    this.$.movementsAPI.generateRequest();
                }




            }

            sendResponse(e, request) {
                if (request.succeeded) {
                    console.log('la solicitud se resolvió correctamente con código ' + request.status);
                } else {
                    console.log('la solicitud nos ofreció resultados incorrectos, con código ' + request.status);
                }
            }

            errorResponse(e, error) {
                console.log("Error: " + error.request.status);
            }

        }
        window.customElements.define(UpdateMovementsComponent.is, UpdateMovementsComponent);
    </script>
</dom-module>